/* ============================================
reset
============================================ */
html {
  font-size: 16px; 
  color: #333;
}
body{
  background: #f9f9f9;
  line-height: 1.6;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  transition: all 0.2s ease;
}
@media (max-width: 768px){
  html{
    font-size: 14px;
  }
}
/* ============================================
common
============================================ */
:root{
  --blue: #3A98E8; 
  --white:#fff;
  --red:#FF5F4A;
}
.lp {
  font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.6;
  color: #333;
}
.section {
  padding: 10rem 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 4vw;
  max-width: 100%;
}

.section--light-blue {
  background-color: #f0f9ff;
}

.section--blue {
  background-color: #1B4F84;
}

h2 {
  font-size: clamp(26px, 2.4vw, 2.4vw);
  text-align: center;
  margin-bottom: 2em;
  font-weight: 600;
}
h3 {
  font-size: clamp(18px, 1.6vw, 1.8vw);
  text-align: center;
  margin-bottom: 1em;
  font-weight: 600;
}
.highlight {
  color: var(--red);
}

.note {
  font-weight: 400;
  font-size: .8rem;
  text-indent: -1em;
  padding-left: 1em;
}
.list-disc {
   list-style: disc;
   padding-left: 1.4em;
   text-align: left;
}
.pc-only{
  display: block;
}
.sp-only{
  display: none;
}
@media (max-width: 768px){
  .pc-only{
    display: none;
  }
  .sp-only{
    display: block;
  }
  .section{
    padding: 8rem 0;
  }
}



/* ============================================
btn
============================================ */
.btn-row {
  display: flex;
  gap: 1rem;
  align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}
.btn-row .btn{
  width: 100%;
}
.btn a {
  display: inline-flex;             
  justify-content: center;
  align-items: center;
  padding: 1em 1.5em 1em 3em;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  width: 100%;
  font-size: 1.4rem;
}
.btn-blue a {
  background-image: linear-gradient(90deg, #1396f4, #02a6c7);
  position: relative;
}
.btn-red a{
  background-image: linear-gradient(90deg, #ff4444, #ff7b00);
  position: relative;
}
.btn-green a {
  background-image: linear-gradient(90deg, #00bde8, #00aa44);
  position: relative;
}
.btn-nomal a {
  background: var(--blue);
  font-size: 1rem;
  border: 1px solid var(--blue);
  padding: 1em 1.5em;
}
.btn-blue a::before,.btn-red a::before,.btn-green a::before{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
position: absolute;
  content: "";
  width: 1em;
  height: 1em;
  top: 50%;
  transform: translateY(-50%);
  left: 1.5em;
}
.btn-blue a::before{
  background-image: url(../../../public/images/lp/icon_document_white.svg);
}
.btn-red a::before{
  background-image: url(../../../public/images/lp/icon_mail_white.svg);
}
.btn-green a::before{
  background-image: url(../../../public/images/lp/icon_add_white.svg);
}
@media (hover: hover){
  .btn-blue a:hover,.btn-red a:hover,.btn-green a:hover{
    opacity: .6;
  }
  .btn-nomal a:hover{
    color: var(--blue);
    background: var(--white);
  }
}
@media (max-width: 768px){
  .btn-row{
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
}

/* ============================================
header
============================================ */
header {
  width: 100%;
  position: fixed;
  z-index: 999;
}
.header-box{
  display: flex;
  margin: 0 auto;
    padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 10%;
}
.header-box .btn-row{
  width: 90%;
  margin-right: 0;
  justify-content: flex-end;
}
.header-box .header-btn{
  width: 24%;
}
.header-btn a {
  font-size: 1.1rem;
  box-shadow: 0 0 24px rgba(114, 199, 255, .5);
}
@media (max-width: 768px){
  .header-box .header-btn{
    width: 46%;
  }
  .logo{
    width: 15%;
  }
  .header-box .btn-row{
    width: 82%;
    gap:.5rem;
    flex-direction: row;
  }
  .header-btn a{
    padding: 1rem .5rem 1rem 1.5rem;
    font-size: 1rem;
  }
  .header-btn a:before{
    left: 1em;
  }
}


/* ============================================
back
============================================ */
.back {
  position: relative;
}
.back::before {
  content: "";
  position: absolute;
  top: 36vh;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../public/images/lp/back.svg);
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: left top;
  z-index: -1;
}



/* ============================================
hero
============================================ */
/*  */
.section-hero {
  position: relative;
}
.section-hero::before{
  content: "";
  position: absolute;
  background-image: url(../../../public/images/lp/main_back.svg);
  top: 0;
  left: 0;
  width: 26%;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  height: 100%;
  z-index: -1;
}
.section-hero::after {
  content: "";
  position: absolute;
  background-image: url(../../../public/images/lp/back_object.svg);
  width: 10%;
  height: 10%;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  top: 10%;
  left: 14%;
}
.hero {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.hero-content {
  flex: 1;
}

.hero-image {
  flex: 1;
}

.hero-title {
  font-size: clamp(36px, 3.6vw, 3.6vw);
  font-weight: 600;
  color: var(--blue);
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 600;
}

.hero-description {
  font-size: 1.1rem;
  margin: 1em 0;
}
.section-hero .btn-row{
  width: 100%;
}
.section-hero .btn-row a {
  font-size: 1.1rem;
}
@media (max-width: 768px){
  .hero-content, .hero-image{
    width: 100%;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    padding-top: 0;
  }
  .hero-subtitle{
    font-size: 1.6rem;
  }
}
/* ============================================
features
============================================ */
.section-features {
  padding-top: 0;
  padding-bottom: 4em;
}
.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4em;
}
.feature-card{
  text-align: center;
}
.feature-title {
  margin-top: 1em;
  margin-bottom: 0;
}
.feature-sankaku{
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 70px solid transparent;
  border-left: 70px solid transparent;
  border-top: 50px solid  var(--blue);
  border-bottom: 0;
  margin: 4em auto 0;
}
@media (max-width: 768px){
  .section-features{
    padding-bottom: 5em;
  }
  .feature-img {
    width: 80%;
    margin: 0 auto;
  }
}



/* ============================================
Services
============================================ */
.section-service{
  padding-top: 0;
}
.services-title {
  font-size: clamp(30px, 2.6vw, 2.6vw);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.service-card {
  text-align: center;
  padding: 3rem;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0px 0px 24px 0px rgba(114, 199, 255, 0.3);
}

.services-img {
  margin: 0 auto 1.6em;
  width: 80%;
}
.service-description {
  text-align: left;
}

@media (max-width: 768px){
  .services-title {
    text-align: left;
  }
}



/* ============================================
Reasons
============================================ */
.reasons-title .highlight {
  font-size: 160%;
}

.reasons-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.reason-item {
  display: flex;
  align-items: center;
  gap: 3rem;
  background: #fff;
  border-radius: 1.2rem;
  box-shadow: 0px 0px 24px 0px rgba(114, 199, 255, 0.3);
  padding: 3rem;
}

.reason-item--reverse {
  flex-direction: row-reverse;
}

.reason-image {
  flex: .7;
}

.reason-content {
  flex: 1;
  text-align: left;
}
.reason-number {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--blue);
}

.reason-title {
  color: var(--blue);
  text-align: left;
  font-size: 1.6rem;
}
.reason-subtitle{
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1em;
}


@media (max-width: 768px){
  .reason-item {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
  }
  .reason-image{
    flex: auto;
    width: 100%;
  }
}


/* ============================================
Plan
============================================ */
.eyebrow {
  margin: 0 auto 1rem;
  text-align: center;
}
.eyebrow p {
  background: var(--red);
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: var(--white);
  font-weight: 600;
  border-radius: 1rem;
  position: relative;
}
.eyebrow p::after {
  content: "";
  position: absolute;
  left: 45%;                       /* しっぽの位置（%で調整） */
  bottom: -12px;                   /* 下にはみ出す量 */
  border-width: 12px 10px 0 10px;  /* 高さ・左右の幅 */
  border-style: solid;
  border-color: currentColor transparent transparent transparent;
  color: var(--red); 
}

.pricing-title {
  margin-top: 1em;
  color: var(--white);
}
.pricing-table-wrapper{
  overflow: visible;
}
.pricing-table,.pricing-footer__table {
  background-color: var(--white);
  width: 100%;
  border-collapse: collapse;
}
.table-first{
  width: 40%;
}
.table-header {
  padding: 1rem;
  border: 2px solid #c7daf3;
  background: #DEF0FF;
  color: var(--blue);
  width: 20%;
}
.table-header span {
  font-size: 1rem;
  position: relative;
  display: inline-block;
   padding: 0 1.75em;
}
.table-header span::before,.table-header span::after {
content: "";
  position: absolute;
  top: 50%;
  width: 2em;      /* 線の長さ */
  height: 0.2em;    /* 線の太さ */
  background: var(--blue);
  border-radius: 999px;
  transform: translateY(-50%);
  display: inline-block;
}
.table-header span::before{
  left: 0;            /* 文字との距離 */
  transform: translateY(-50%) rotate(70deg);
}
.table-header span::after{
   right:0;
  transform: translateY(-50%) rotate(-70deg);
}

.table-header--light {
  font-size: 1.6rem;
}
.table-cell {
  padding: 1rem;
  border: 2px solid #c7daf3;
}

.table-cell--feature {
  font-weight: bold;
  text-align: center;
}
.table-cell--center {
  text-align: center;
}
.table-cell--feature-left {
  text-align: left;
  font-size: .9rem;
  padding: .8rem;
}
.pricing-footer{
  margin: 5em auto;
  text-align: center;
}
.pricing-description{
  font-size: 1.6rem;
  position: relative;
  display: inline-block;
   padding: 0 1.75em;
   color: var(--white);
   font-weight: 600;
   margin: 0 auto 2em;
   text-align: center;
}
.pricing-description::before,.pricing-description::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 2em;      /* 線の長さ */
  height: 0.2em;    /* 線の太さ */
  background: var(--white);
  border-radius: 999px;
  transform: translateY(-50%);
  display: inline-block;
}
.pricing-description::before{
  left: 0;            /* 文字との距離 */
  transform: translateY(-50%) rotate(70deg);
}
.pricing-description::after {
  right:0;
  transform: translateY(-50%) rotate(-70deg);
}
.pricing-footer__table {
  width: 70%;
  margin: 0 auto;
  line-height: 1.2;
}
.pricing-footer__table .table-header {
  width: 30%;
  font-size: 2rem;
}
.pricing-footer__table .table-header span {
  position: static;
}
.pricing-footer__table .table-header span::before,.pricing-footer__table .table-header span::after{
  content: none;
}
.pricing-footer__table .table-cell{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.tategaki{
  writing-mode: vertical-rl;
  text-orientation: upright; /* ラテン文字や数字も直立 */
  line-height: 1.8;
  vertical-align: middle;
  text-align: center;
}
@media (max-width: 768px){
  .pricing-table-wrapper{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
  }
  .table-header--light{
   white-space: nowrap;
   padding: .6rem;
  }
  .table-cell--feature-left{
    white-space: nowrap;
  }
  .table-header--light{
    font-size: 1.2rem;
  }
  .table-cell{
    padding: .4rem;
  }
  .table-header {
    width: 15%;
  }
  .table-first{
    width: 50%;
  }
  .table-header span{
    font-size: .85rem;
    padding: 0 2em;
  }
  .table-header span:before, .table-header span:after{
    width: 3em;
  }
  .table-header span:before{
    left: -.5em;
    transform: translateY(-50%) rotate(80deg);
  }
  .table-header span:after{
    right: -.5em;
    transform: translateY(-50%) rotate(-80deg);
  }
  .pricing-description{
    font-size: 1.4rem;
  }
  .pricing-footer__table{
    width: 100%;
  }
  .pricing-footer__table .table-header{
    font-size: 1.4rem;
    width: 100%;
  }
  .pricing-footer__table .table-header span{
    font-size: 1rem;
    padding: 0;

  }
  .pricing-footer__table,
  .pricing-footer__table tbody,
  .pricing-footer__table tr {
    display: block;            /* 行ごとブロック化 */
    width: 100%;
  }
  .pricing-footer__table th,
  .pricing-footer__table td {
    display: block;            /* セルを縦に並べる */
    width: 100%;
    box-sizing: border-box;
  }

}




/* ============================================
case
============================================ */
.lp-case-studies-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1rem;
  row-gap: 6rem;
  width: 90%;
  margin: 0 auto;
}

.lp-case-study-card {
  background-color: var(--white);
  border-radius: 1.2rem;
  padding: 4rem 3rem 3rem;
  box-shadow: 0 0 24px rgba(114, 199, 255, .3);
  display: flex;
  flex-direction: column;
  position: relative;
}
.lp-case-study__category{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -1.5rem;
  width: 40%;
  color: var(--white);
  text-align: center;
  padding: .75rem 2rem;
  font-weight: 600;
}
.lp-case-study__category_ec {
  background: #006DC9;
}
.lp-case-study__category_sns{
  background: #00A439;
}
.lp-case-study__category_lp{
  background: #049C8D;
}
.lp-case-study-content-text{
  display: flex;
  flex-direction: column;
  flex: 1; 
}
.lp-case-study-content {
  margin-top: 2em;
  flex: 1;    
}

.case-facts {
  border-bottom: 1px dashed #525252;
  margin-bottom: 1em;
}
.row {
  display: flex;
  margin-bottom: 1em;
}
.row dt {
  color: #444444;
  font-weight: 600;
  width: 30%;
}
.row dd {
  width: 65%;
}
.case-explan {
  font-weight: 1.2rem;
  font-weight: 600;
}
.case-btn {
  margin: 0 auto;
  margin-top: 2em;  
  width: 80%;   
}
.case-footer {
  margin-top: 6em;
  width: 40%;
}

@media (max-width: 768px){
    .lp-case-studies-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .lp-case-study-card{
    padding: 3rem 2rem 2rem;
  }
  .row{
    display: block;
  }
  .row dd,.row dt {
    width: 100%;
  }
  .case-btn{
    width: 100%;
  }
}

/* ============================================
flow
============================================ */
.lp-flow-list {
  width: 80%;
  margin: 0 auto 5em;
  position: relative;
}
.lp-flow-list::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 96%;
  background: var(--blue);
  top: 2%;
  left: 10%;
  z-index: -1;
}
.lp-flow-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.lp-flow-item:last-child{
  padding-bottom: 0;
}

.lp-flow-number-box {
  background: var(--blue);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50%;
  width: 20%;
  text-align: center;
  aspect-ratio: 1 / 1;
  display: flex;                
  flex-direction: column;
  align-items: center;         
  justify-content: center;     
  gap: .5rem;                  
  text-align: center;
}
.flow-number {                
  margin: 0;
  line-height: 1;            
}
.flow-number-image{
  width: 46%;
}

.lp-flow-content {
  background-color: var(--white);
    border-radius: 1.2rem;
    width: 75%;
    box-shadow: 0 0 24px rgba(114, 199, 255, .3);
    padding: 2rem;
    text-align: left;
}

.lp-flow-title {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: .5em;
}
@media (max-width: 768px){
  .lp-flow-list{
    width: 100%;
  }
  .lp-flow-content{
    padding: 1.2rem;
    width: 70%;
  }
  .lp-flow-number-box{
    width: 28%;
  }
  .flow-number{
    font-size: 1.2rem;
  }
  .lp-flow-description {
    font-size: .9rem;
  }
  .lp-flow-list:before{
    left: 14%;
    top: 4%;
    height: 90%;
  }
}



/* ============================================
faq
============================================ */
.lp-faq-title {
  color: var(--white);
}





/* ============================================
cta
============================================ */
.section-cta{
  position: relative;
}
.section-cta::before,.section-cta::after{
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.section-cta::before{
  background-image: url(../../../public/images/lp/main_back.svg);
  background-position: left top;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
}
.section-cta::after{
  background-image: url(../../../public/images/lp/cta_back.svg);
  background-position: right bottom;
  width: 50%;
  height: 100%;
  right: 0;
  bottom: 0;
}
.section-cta h2 {
  font-size: clamp(28px, 2.4vw, 2.4vw);
  margin-bottom: 1em;
}
.lp-final-cta{
  text-align: center;
}
.lp-final-cta-subtitle {
  text-align: center;
  font-size: clamp(18px, 1.4vw, 1.4vw);
  font-weight: 600;
  display: inline-block;
    position: relative;
    margin: 0 auto 1em;
    padding: 0 2em;
}
.lp-final-cta-subtitle:before, .lp-final-cta-subtitle:after {
    content: "";
    border-radius: 999px;
    width: 2em;
    height: .2em;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #333;
}
.lp-final-cta-subtitle:before{
  left: 0;
    transform: translateY(-50%) rotate(70deg);
}
.lp-final-cta-subtitle::after{
  right: 0;
  transform: translateY(-50%) rotate(-70deg);
}
.cta-mailmagazin {
  margin-top: 8em;
}
.btn-row .btn-mailmagazin{
  width: 50%;
}
@media (max-width: 768px){
  .section-cta {
    padding-bottom: 14em;
  }
  .btn-row .btn-mailmagazin{
    width: 100%;
  }
  .section-cta:after{
    width: 100%;
  }
  .cta-mailmagazin{
    margin-top: 4em;
  }
}



/* ============================================
footer
============================================ */
.footer {
  background-color: #1E1E1E;
  color: var(--white);
  padding: 3rem 2vw 1rem;
  text-align: center;
}

.footer-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3em;
}
.adress {
  text-align: left;
}
.footer-link{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  margin-bottom: 4rem;
}
.footer-link li {
  position: relative;
  padding-right: 2em;
  margin-right: 2em;
  display: inline-flex;
    align-items: center;
}
.footer-link li:last-child{
  padding-right: 0;
  margin-right: 0;
}
.footer-link li::after {
  position: absolute;
  content: "";
  height: 1em;
  width: 1px;
  background: var(--white);
  right: 0;
}
.footer-link li:last-child:after{
  position: static;
  content: none;
}
.footer small{
  font-size: 0.8rem;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 768px){
  .footer-content{
    gap: 1rem;
  }
  
}
